---
import Icon from "@/components/Icon.astro";
import type { FooterData, Icon as IconType } from "@/config/landing.interface";

interface Props {
  data: FooterData;
}

const { data } = Astro.props;
---

<footer
  class="flex flex-col justify-center text-center gap-y-8 pt-8 bg-black text-white w-full"
>
  <section>
    <a class="text-xl md:text-2xl" href="/">{data.logo}</a>
  </section>
  <section>
    <p class="md:text-lg">
      {data.description}
    </p>
  </section>
  <section
    class="flex flex-row flex-wrap justify-center gap-x-3 px-4 md:px-0 md:text-xl"
  >
    {data.links.map((link) => <a href={link.href}>{link.label}</a>)}
  </section>
  <section class="mb-5 flex flex-row flex-wrap justify-center gap-x-3">
    {
      data.socials.map((social) => (
        <a
          href={social.href}
          class="text-white hover:opacity-50 hover:scale-105"
          title={social.icon}
        >
          <Icon icon={social.icon as IconType} />
        </a>
      ))
    }
  </section>
</footer>
